.section-about {
  background: rgba(153, 153, 153, 0.15);
  padding: 25rem 0;
  margin-top: -22rem;

  @include respond(tab-port){
    padding: 45rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($light_green, 0.8),
      rgba($dark_green, 0.8)
    ),
    url("../img/bg1.jpg");
  background-size: cover;
  transform: skewY(5deg);
  margin-top: -12rem;

  & > * {
    transform: skewY(-5deg);
  }

  @include respond(tab-port){
    padding:10rem 0;
  }
}

.section-tours {
  background: rgba(153, 153, 153, 0.15);
  padding: 25rem 0rem 15rem 0rem;
  margin-top: -17rem;

  @include respond(tab-port){
    padding:18rem 0rem 10rem 0rem;
  }
}

.section-stories {
  position: relative;
  padding: 0 0 5rem 0;
}

.section-book {
  padding: 15rem 0rem;
  background: linear-gradient(to right bottom, $light_green, $dark_green);
}

.book {
  background-image: linear-gradient(
      -75deg,
      rgba(transparent, 0.1) 0%,
      rgba(transparent, 0.1) 50%,
      rgba(#fff, 0.7) 50%
    ),
    url("../img/m1.jpg");
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.2);


  @include respond(tab-port) {
    background-image: linear-gradient(rgba(white, 0.8), rgba(white, 0.8));
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-port) {
      width: 100%;
      padding:3rem;
    }
  }
}
