.footer {
  background-color: #333;
  padding: 10rem 6rem;
  font-size: 1.4rem;

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  &__logo {
    height: 10rem;
  }

  &__logo-box {
    margin-bottom: 8rem;
    text-align: center;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__navigation {
    text-align: center;
    border-top: 0.1rem solid #999;
    padding-top: 2rem;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: #999;
      text-decoration: none;
      text-transform: uppercase;
    }

    &:hover,
    &:active {
      color: $light_green;
    }
  }

  &__copyright {
    width: 80%;
    float: right;
    border-top: 0.1rem solid #999;
    padding-top: 2rem;

    @include respond(tab-port){
      float:none;
      text-align: center;
      width:auto;
    }
  }
}
