// variables for colors
$light_green: #7ed56f;
$medium_green: #55c57a;
$dark_green: #28b485;

$light_yellow: #ffb900;
$orange: #ff7730;

$light_blue: #2998ff;
$purple: #5643fa;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// font
$def-font: 1.6rem;